body {
  background-color: darkslategrey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

canvas {
  border: 1px solid black;
  background-color: antiquewhite;
}

#debug {
  font-family: Arial, sans-serif;
  font-size: 14px;
}
